html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  outline-style: none;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1ffe7;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  outline: none;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
  outline: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  background-color: white;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}

.like-icon,
.vote-icon {
  font-size: 2rem;
  margin: 0.5rem;
}

.vote-icon {
  color: gray;
}

.list-container {
  display: flex;
  flex-direction: row;
}

.inf-message {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.liked-movies,
.voted-movies {
  margin-left: 1rem;
  background-color: white;
  opacity: 0.7;
  width: 300px;
  min-height: 100px;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.liked-movies {
  margin-top: 4rem;
}

.voted-movies {
  margin-top: 2rem;
}

.liked-movies-title,
.voted-movies-title {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 0.3rem;
}

.selected-movies-container {
  position: absolute;
  left: 80%;
  display: block;
}
